* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #821f57;
  height: 100%;
  font-family: Verdana, sans-serif;
}

main {
  height: 75%; 
}

.navigation-title {
  font-size: 2em;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: black;
  padding: 20px 20px;
}

.navigation-buttons {
  min-width: 500px; 
}

.button {
  margin: 0px 20px 0px 0px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #e3f086;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/* --------------Search Recipes Area --------------*/

.search {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.search-container {
  display: flex;
  justify-content: space-around;  
  width: 70%;  
}

.search-options-container {
  list-style-type: none;
}

.search-options-label {
  font-size: 1.2em;
}

.search-options {
  height: 45px;
  font-size: 1em;
}

.search-bar {
  width: 40%;
  height: 40px;
  font-size: 1.2em;
}

.search-recipe-button {
  margin-top: 0px; 
}


/* ----------------filter and recipe list area------------ */



.recipe-tags-title {
  margin-bottom: 20px;
}

.recipe-tags-container {
  list-style-type: none;
}

.recipe-tags {
  align-self: flex-start; 
  width: 20%;
  background-color: #e3f086;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.recipe-tag {
  padding: 5px;
}

.recipe-tag-label {
  font-size: 1.2em;
  margin-left: 10px;
}

.recipes {
  display: flex;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start; 
  padding: 20px;
  background-color: #e3f086;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 75%; 
}

.recipe-img-container {
  display: flex;
  flex-direction: column;
  flex: 1; 
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 28%;
  margin: 25px;
}

.recipe-img-container:hover {
  box-shadow: 4px 4px 4px 1px rgba(255, 255, 255, 0.5);
}

.recipe-img {
  flex: 1;
  border-radius: 20px 20px 0px 0px;
}

.recipe-name {
  text-align: center;
  padding: 20px;
}

/* -------------------single Recipe view------------- */

/* class to be added to single recipe view DOM manipulation */
.single-recipe-title {
  font-size: 1.5em; 
}

.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.single-recipe-buttons {
  margin-top: 40px;
}
.single-recipe-image {
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.single-recipe-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  background-color: #e3f086;
}

.single-recipe-info-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid black;
}

.single-recipe-list-container {
  display: flex;
  margin: 0px 50px 0px 50px;
}

.single-recipe-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
  font-size: 1em;
}

.single-recipe-info {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border-bottom: thin solid black;
  padding: 20px;
}

.single-recipe-number {
  margin-right: 40px;
}

.single-recipe-ingredient {
  flex: 1;
  text-align: center;
}

.single-recipe-instruction {
  flex: 1;
}

.single-recipe-instructions {
  text-align: center;
  list-style-type: none;
  flex: 1;
}

/* ------------------favorties--------------------- */

.remove-icon {
   height: 40px;
   align-self: flex-end;
}

/* ------------------pantry----------------------------- */

.pantry {
  display: flex;
  justify-content: space-around; 
  margin: 50px 0px 0px 20px;   
}

.pantry-contents { 
  flex-basis: 45%;
  background-color: #e3f086;
  border-radius: 10px; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.pantry-title {
  text-align: center; 
  padding: 15px; 
  border-bottom: solid black; 
}

.pantry-list {
  list-style-type: none;
  margin: 0px 30px; 
}

.pantry-item {
  display: flex; 
  justify-content: space-around;
  border-bottom: thin solid black; 
  padding: 15px;  
}


/* ---------------List of cook items----------------- */

.pantry-cook-area {
  display: inline-block;
  width: 45%; 
}

.pantry-cook-container {  
  min-height: 300px; 
  background-color: #e3f086;
  border-radius: 10px; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 0px 20px 20px 0px; 
}

.pantry-cook-title-container {
  display: flex; 
  justify-content: space-around; 
  padding: 20px; 
  border-bottom: solid black; 
}

.pantry-cook-button {
  background-color: #821f57;
  color: #e3f086;
  /* height: 45px;  */
}

.pantry-cook-title {
  flex: 1; 
  align-self: center; 
}

.pantry-cook-list {
  list-style-type: none;
}

.pantry-cook-item {
  padding: 15px; 
}

/* ----------------pantry message area--------------- */


.pantry-info-container { 
  min-height: 300px; 
  border-radius: 10px; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  background-color: #e3f086;
  margin: 0px 20px 20px 0px; 
}

.pantry-message {
  padding: 20px; 
  border-bottom: solid black; 
}

.pantry-missing-ingredients-list {
  list-style-type: none;
  padding: 20px; 
}

.pantry-missing-item {
  display: flex; 
}

.pantry-missing-ingredient {
  flex: 1; 
}

.pantry-missing-amount {
  padding: 0px 5px;  
}




/* ------------------state---------------------------- */

.hidden {
  display: none;
}


/* ------------------tablet------------------------------ */

/* pantry */

@media screen and (max-width: 900px) {

  /* all recipes */
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin: 10px;
  }

  .search-container {
    flex-direction: column; 
    align-items: center; 
  }

  .search-options-container {
    width: 40%; 
    margin-bottom: 10px; 
  }

  .search-bar {
    width: 100%; 
  }
  
  .recipes {
    flex-direction: column; 
  }

  .recipe-tags {
    width: 90%; 
  }

  .recipe-tags-container {
    display: flex; 
  }

  .recipe-tag-column {
    flex: 1; 
  }

  .recipe-list {
    width: 90%; 
  }

  /* single recipe view */
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .navigation-title {
    text-align: center; 
  }

  .single-recipe-container {
    width: 80%; 
  }

  .single-recipe-buttons {
    margin-left: 25px; 
  }
  
  
  .pantry-list {
    margin: 10px; 
  }
  
  .pantry-item {
    justify-content: space-between; 
  }

  .pantry-cook-title-container {
    flex-direction: column; 
    align-items: center;
    padding: 10px; 
  }

  .pantry-title {
    font-size: 1.3em; 
  }

  .pantry-cook-title {
    font-size: 1.3em; 
  }

  .pantry-cook-button {
    width: 50%; 
  }
}


@media screen and (max-width: 600px) {

  /* navigation header */
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 90%;  
    margin: 10px;
  }

  /* all recipes */
   .recipes {
    width: 95%;
    flex-direction: column;
  }

  .recipe-tags {
    width: 91%;
    margin: 15px; 
  }

  .recipe-list {
    margin: 15px; 
  }

  .recipe-tags-title {
    text-align: center;
  }

  .recipe-img-container {
    width: 35%;
  }

  .recipe-name {
    font-size: 0.7em;
    padding: 5px;
  }

/* single recipe view */
  .single-recipe {
    margin-top: 25px;
  }

  .single-recipe-container {
    width: 95%;
  }

  .single-recipe-image {
    width: 95%;
  }

  .single-recipe-list-container {
    margin: 0px;
  }

/* searach area */
  .search-container {
    width: 90%;
  }

  .search-bar {
    width: 100%;
    margin-top: 20px;
  }

  /* pantry */

  .pantry {
    flex-direction: column-reverse; 
  }

  .pantry-contents {
    margin-right: 20px; 
  }

  .pantry-cook-area {
    width: 100%;
  }
}
